@import "vars.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 100px auto 0;
    background-color: $dark;
    border-radius: 2.5rem;
    padding: 5rem 3rem;
}

.form {
    width: 100%;

    &__error {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
        opacity: 0;
        height: 0;
        transition: opacity 0.3s linear, background-color 0.3s linear;

        &.active {
            padding: 10px 2rem;
            height: auto;
            margin: 0 auto 30px;
            opacity: 1;
            background-color: rgb(243, 120, 120);
        }
    }

    &__title {
        color: $white;
        font-size: 2.6rem;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__input {
        width: 50%;
        display: block;
        margin: 0 auto 2.8rem;
        padding: 1rem 0;
        border: none;
        outline: none;
        border-bottom: 1px solid $light-gray;
        background-color: inherit;
        font-size: 1.6rem;
        color: $white;
        transition: all 0.2s linear;
        font-weight: 300;


        &.incorrect {
            border: 1px solid rgb(179, 66, 66);
        }

        &:focus {
            background-color: darken($dark, 10%);
        }
    }

    &__buttons {
        width: 50%;
        margin: 0 auto 4rem;
        display: flex;
        justify-content: space-around;

        &__item {
            width: 35%;
            background-color: $blue;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 1rem 0;
            border-radius: 1.7rem;
            font-weight: 400;
            font-size: 1.5rem;
            transition: all 0.2s linear;

            &:hover {
                background-color: darken($blue, 15%);
            }
        }
    }

    &__card {
        max-width: 50%;
        margin: 0 auto;
        overflow: hidden;
        background-color: #000;
        border-radius: 25px;
        position: relative;

        &__img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        &__bank-name {
            color: $white;
            font-size: 2rem;
            font-weight: 300;
            line-height: 1.2;
            position: absolute;
            top: 15%;
            left: 7%;
        }

        &__number {
            max-width: 100%;
            color: $white;
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 1.2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__info {
            color: $white;
            font-size: 2rem;
            font-weight: 300;
            line-height: 1.2;
            position: absolute;
            bottom: 5%;
            left: 7%;
            width: 86%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__name {
                max-width: 35%;
            }

            &__dates {
                font-size: 1.5rem;
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            &__type {
                width: 20%;

                &__img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }


}

.four-numbers {
    margin-left: 5px;

    &:last-child {
        margin-left: 0;
    }
}